---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import NotLinkCard from "@components/NotLinkCard";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"publications">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`Publications | ${SITE.title}`}>
  <Header activeNav="publications" />
  <Main pageTitle="Publications" pageDesc="All the publications I've got.">
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <NotLinkCard frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/publications${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/publications/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
